name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    uses: brooksmcmillin/workflows/.github/workflows/go-ci.yml@main
    with:
      go-versions: '["1.21", "1.22"]'
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
